<html>

<head>
  <meta charset="utf-8">
  <title>Leaf Diseases Detection </title>
  <link rel="stylesheet" href="css/style.css">
</head>


<body>
 
 
 <!--1st page-->
  <section id="main">
    <nav>

      <a href="#" class="logo"> </a>
      <ul class="menu">
        <li><a href="/" class="home"> Home </a></li>
        <li><a href="#image"> Image sections</a></li>
        <li><a href="#about"> About </a></li>
       
      </ul>
    </nav>

   


    <div class="font"> 
      <h1>
        Leaf Diseases Detection
      </h1>
      <p class="wel"> Welcome TO Webpage <br>
        <br>
        <p>In here you can solve your leaf diseases problem immediately<br><br>
              1.With Correct result and acording diseases you get some solution.<br>
              2.Our services is faster than others.<br>
              3.If any problem faced than contact us...!!!<br>
      </p> </br>
      </p>
      <br>
      <br>
      <br>

      <a href="result" class="iamge-btn" id="button">
        <h4>Start Prediction  </h4>
      </a>
      

  </section>



<!-- 2nd page-->
<section id="about">
    <div class="about-txt">
        <h2>About Us</h2>
        <p>
           During the plantation of the plants peoples faces many issues like plant getting decayed
            due to some diseases.<br>
           The proposed solution will provide an application for user where user need to the input the image of the leaf.<br>
           It will categorize plant leaves as healthy or infected which will help people in detection of the disease in plants.
        </p>
      </div>
    </section>




        <section id="footer">
          <img src ="images/group_66.jpg" class="footer-img">
              <div class="last">
                  <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                  <a href="#">SCS 10sem student</a>.
                  </p>
          </div>
      </section>




</html>
